TZ=Asia/Shanghai
SPRING_PROFILES_ACTIVE=prod

# ===== MySQL =====
SPRING_DATASOURCE_URL=jdbc:mysql://IP:3306/prodigal_ai_travel?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
SPRING_DATASOURCE_USERNAME=replace me
SPRING_DATASOURCE_PASSWORD=replace me

# ===== Redis =====
SPRING_DATA_REDIS_HOST=replace me
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_DATABASE=1

# ===== AI Keys =====
SPRING_AI_DASHSCOPE_API_KEY=replace me
SPRING_AI_DASHSCOPE_CHAT_OPTIONS_MODEL=replace me
SPRING_AI_MCP_CLIENT_ENABLED=false
PRODIGAL_SEARCH_API_API_KEY=replace me
PRODIGAL_AMAP_API_KEY=replace me
PRODIGAL_PEXELS_API_KEY=replace me

# ===== Auth =====
PRODIGAL_JWT_SECRET=replace me
PRODIGAL_JWT_EXPIRE_HOURS=24

# ===== Mail =====
SPRING_MAIL_HOST=smtp.qq.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=replace me
SPRING_MAIL_PASSWORD=replace me

# ===== Rabbit MQ =====
RABBITMQ_ENABLED=true
RABBITMQ_HOST=159.75.74.182
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=replace me
RABBITMQ_PASSWORD=replace me
RABBITMQ_VHOST=replace me
